<!-- <div class="container">
  <div class="text-center p-5">
    <h1>
      Baraka Ian
          </h1>
         <h2> <small class="text-muted">GitHub Public Repositories</small></h2>

  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Quotes-App</h2>
          <p class="card-text">create quotes and have those quotes voted.</p>
          <a href="#" class="btn-btn-primary">Go repository</a>
        </div>
      </div>
    </div>
  </div>
  <div id="borderimg">
    
  </div>
</div> -->


<app-home></app-home>